[submodule "l10n_ar"]
	path = l10n_ar
	url = git@github.com:odoo-mastercore/l10n_ar.git
	branch = fiscal_report

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 12.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 12.0

[submodule "OCA/l10n-chile"]
	path = OCA/l10n-chile
	url = git@github.com:OCA/l10n-chile.git
	branch = 12.0

[submodule "odoo-mastercore/wolox_addons"]
	path = odoo-mastercore/wolox_addons
	url = git@github.com:odoo-mastercore/wolox_addons.git
	branch = 12.0
