[submodule "l10n_ar"]
	path = l10n_ar
	url = git@github.com:odoo-mastercore/l10n_ar.git
	branch = fiscal_report
[submodule "cost_centers_mgmt"]
	path = cost_centers_mgmt
	url = git@github.com:odoo-mastercore/cost_centers_mgmt.git
	branch = 12.0
[submodule "odoo_server_tools"]
	path = odoo_server_tools
	url = git@github.com:odoo-mastercore/odoo_server_tools.git
	branch = 12.0
[submodule "account-analytic"]
	path = account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 12.0
[submodule "odoo-hr-payroll"]
	path = odoo-hr-payroll
	url = https://github.com/hibou-io/odoo-hr-payroll.git
	branch = 11.0
[submodule "l10n_cl_fe"]
	path = l10n_cl_fe
	url = https://gitlab.com/dansanti/l10n_cl_fe.git
	branch = 12.0
